<div class='container'>
    <h3 class='mt-3'>商品新規登録</h3><br>
        <div class='row'>
            <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
                <table class="table table-borderless">
                    <div class='colspan-md-3'>
                        <tbody>
                                <tr><th><label for='inputimage'>商品画像</label></th>
                                    <th><%= image_tag @item.image, size: '60x60' if @item.image.attached? %>
                                    <%= f.file_field :image, accept: "image/*" %></th>
                                </tr>
                                <tr><th><label for='itemname'>商品名</label></th>
                                    <th><%= f.text_field :name, rows: '5', id:'item[name]', placeholder: "商品名", class: 'form-control' %><th>
                                </tr>
                                <tr><th><label for='introduction'>商品説明</label></th>
                                    <th><%= f.text_area :introduction, rows: '5', id:'item[introdution]', placeholder: "ここに説明文を記述します", class: 'form-control' %></th>
                                </tr>
                                <tr><th>ジャンル</th>
                                    <th><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></th>
                                </tr>
                                <tr><th><label for='price'>税抜価格</label></th>
                                    <th><%= f.text_field :price, row: '5', id:'item[price]', placeholder: '0000', class: 'form-control' %></th><th><h4>円</h4></th>
                                </tr>
                                <tr><th><%= f.label '販売ステータス' %></th>
                                        <th><%= f.radio_button :is_active, true %>
                                        <%= f.label :is_active, '販売中', value: true %>
                                        <%= f.radio_button :is_active, false %>
                                        <%= f.label :is_active, '販売停止中', value: false %></th>
                                </tr>
                                <tr>
                                    <th>
                                       <%= f.submit "新規登録", class: 'btn btn-outline-success' %>
                                    </th>
                                </tr>
                        </tbody>
                    </div>
                </table>
            <% end %>
        </div>
</div>