<div class="container">
  <div class="row">
    <div class='col-md-2'>
          <p id="notice"></p>
          <%= render 'genre_index', genres: @genres %>
    </div>
      <div class='col-md-10'>
        <div class="card" style="max-width: 500px;">
          <%= image_tag "top.jpg" %><!--<img class="card-img" image_tag src='../../../assets/images/top.jpg' alt=''>-->
          <div class="card-img-overlay">
            <p class="text-center text-black">
              </br></br></br>
              ようこそ、ながのCAKEへ！</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧ができますが、</br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
        <h2><strong>新着商品</strong></h2>
        <div class='row'>
        <br>
        <% @items.each do |item| %>
          <div class='col-md-3'>
            <div class="item-box">
            <%= link_to public_item_path(item) do %>
                              
            <% if item.image.attached? %>
            <%= image_tag item.image, size: "180x100" %>
            <% else %>
            <%= image_tag 'no_image.jpeg', size: "180x100" %>
            <% end %>
                              
              <div class="item-name-price">
                <div class="item-name text-center"><%= item.name %></div>
                <div class="item-price text-center">¥<%= (item.price * 110 / 100).to_s(:delimited) %>(税込)
              </div>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
