<div class="container">
  <div class="row">
    <h1>　注文履歴詳細</h1>
    <table class="table table-bordered">
      <tr>
  			<th class='col-sm-3'>購入者</th>
  			<td><%= link_to  admin_customer_path(@order) do %>
  					<%= @order.customer.first_name %>　<%= @order.customer.last_name %>
  					<% end %>
  			</td>
  		</tr>
  		<tr>
  			<th class='col-sm-3'>注文日</th>
  			<td>
  		    <%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
  			</td>
  		</tr>
  		<tr>
  			<th class='col-sm-3'>配送先</th>
  			<td><%= @order.address %></td>
  		</tr>
  		<tr>
  			<th class='col-sm-3'>支払方法</th>
  			<td><%= @order.payment_method_i18n %></td>
  		</tr>
  			<tr>
  			<th class='col-sm-3'>注文ステータス</th>
    		<td>
      		<%= form_with model:@order, url: admin_order_path, local: true do |f| %>
                <%= f.select :status,[ ["入金待ち",'payment_waiting'], [ "入金確認",'payment_confirmation'], ["製作中",'in_production'], ["発送準備中",'preparing_delivery'], ["発送済み",'delivered'] ]%>
                <%= f.submit "更新", class: 'btn btn-outline-primary' %>
          <% end %>
    		</td>
			</tr>
    </table>
　</div>
  <div class="row">
　  <div class='col-md-8'>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        　<tbody>
            <tr>
             <td><%= order_detail.item.name %></td>
             <td><%= (order_detail.price).floor.to_s(:delimited) %></td>
             <td><%= order_detail.amount %></td>
             <td><%= ((order_detail.price * order_detail.amount).floor).to_s(:delimited) %></td>
             <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), local: true do |f| %>
                  <%= f.select :making_status, [["製作不可",'cannot'], ["製作待ち",'awaiting'], ["製作中",'in_production'], ["製作完了",'complete'] ]%>
                  <%= f.submit "更新", class: 'btn btn-outline-primary' %>
                <% end %>
              </td>
             </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class='col-md-3 text-right'>
      <table class="table table-borderless">
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
        <tr>
          <th><strong>商品合計</strong></th>
          <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited)%>円</td>
        </tr>
        <tr>
          <th><strong>送料</strong></th>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <th><strong>請求金額合計</strong></th>
          <td><%= @order.total_payment.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
