<div class="container">
  <div class="row">
    <div class="mainContents col-sm-9 col-sm-push-3 col-md-9 col-md-push-3">

      <h2 class="title">注文履歴一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col-1">注文日</th>
            <th scope="col-2">配送先</th>
            <th scope="col-2">注文商品</th>
            <th scope="col-1">支払金額</th>
            <th scope="col-1">ステータス</th>
            <th scope="col-1">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>〒<%= order.postal_code %><br />
                  <%= order.address %><br />
                  <%= order.name %>
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %><br />
                <% end %>
              </td>
              <td><%= order.price.to_s(:delimited) %>円</td>
              <td><%= order.status_i18n %></td>
              <td><%= link_to "表示", public_order_path(order), class:"show-button" %></td>
            </tr>
        </tbody>
          <% end %>
      </table>
    </div>
  </div>
</div>